html {
	font-family			: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#addPatient {
	display				: none;
}


table {
 border-width:1px; 
 border-style:solid;
 border-color:black;
 width:50%;
 }
td { 
 border-width:3px;
 border-style:solid;
 text-align : center;  
 border-color:black;
 width:50%;
 }
tr {
background-color:#dcdcf5;

}

.carré{
background-color:#dcdcf5;
}

thead{
size: 100%;

}
