<!doctype html>

<html lang="fr" ng-app="secretaryApplication">
    <head>
        <meta charset="utf-8" />
        <title>Interface secrétaire</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="css/secretary.css"/>
        <script src="js/secretary.js"></script>
    </head>
    <body ng-controller="secretaryController">
        <h1>Interface secrétaire</h1>
        <section>
            <section id="PatientsRestants">
                <button onclick="addpatient()" class="boutton1">Ajouter<br/>nouveau patient</button>
            </section>
            <section id="addPatient" class="">
                <section>
                <h3>Ajouter un nouveau patient</h3>
                <form id="formAddPatient" action="/addPatient" method="POST">
                    <section class="name">
                        <label for="patientName">Nom : </label>
                        <input type="text" name="patientName" id="patientName" required />
                    </section>
                    <section class="forname">
                        <label for="patientForname">Prénom : </label>
                        <input type="text" name="patientForname" id="patientForname" required />
                    </section>
                    <section class="sex">
                        <label for="patientSex">Sexe : </label>
                        <input type="text" name="patientSex" id="patientSex" required />
                    </section>
                    <section class="numero">
                        <label for="patientNumber">Numéro : </label>
                        <input type="text" name="patientNumber" id="patientNumber" required />
                    </section>
                    <section class="birthday">
                        <label for="patientBirthday">Date de naissance : </label>
                        <input type="text" name="patientBirthday" id="patientBirthday" required />
                    </section>
                    <section class="adress">
                        <section class="patientFloor">
                            <label for="patientFloor">Etage : </label>
                            <input type="text" name="patientFloor" id="patientFloor" required />
                        </section>
                        <section class="street">
                            <label for="patientStreet">Rue : </label>
                            <input type="text" name="patientStreet" id="patientStreet" required />
                        </section>
                        <section class="postalCode">
                            <label for="patientPostalCode">Code postal : </label>
                            <input type="text" name="patientPostalCode" id="patientPostalCode" required />
                        </section>
                        <section class="city">
                            <label for="patientCity">Ville : </label>
                            <input type="text" name="patientCity" id="patientCity" required />
                        </section>
                        <section id="newPatientMap"></section>
                    </section>
					<button onclick="addPatient(event)" class="boutton1" id="btAddPatient"> Ajouter ce patient</button>

                </form>
                </section>
            </section>

            <h1>Patients Affectés</h1>
           
            <p><font color="{{notification.level}}">{{notification.message}}</font></p>
            <table id="PatientsAffectés" class="table">
                <thead>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Sexe</td>                   
                    <td>Date de naissance</td>
                    <td>numéro</td>
                    <td>Adresse</td>                    
                    <td>Visite</td>
                    <td>Intervenant</td>                    
                   
                </thead>
                <tbody>
                    <tr ng-repeat="p in patientsAffectes">
						<td>{{p.nom}}</td>
						<td>{{p.prenom}}</td>
						<td>{{p.sexe}}</td>
						<td>{{p.naissance}}</td>
						<td>{{p.numero}}</td>
						<td>{{p.adresse}}</td>
						<td>{{p.visite}}</td>
						<td>{{p.intervenant}}</td>
						
                    </tr>
                </tbody>
            </table>
            
           
            <h1>Patients Non Affectés</h1>
           
            <p><font color="{{notification.level}}">{{notification.message}}</font></p>
            <table id="PatientsNonAffectés" class="table">
                <thead>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Sexe</td>                   
                    <td>Date de naissance</td>
                    <td>numéro</td>             
                    <td>Adresse</td>    
                    <td>Visite</td>
                    <td>Intervenant</td>
                    <td>Validation</td>               
                   
                </thead>
                <tbody>
                    <tr ng-repeat="p in patientsNonAffectes" > 
						<td>{{p.nom}}</td>
						<td>{{p.prenom}}</td>
						<td>{{p.sexe}}</td>
						<td>{{p.naissance}}</td>
						<td>{{p.numero}}</td>
						<td>{{p.adresse}}</td>
						<td>{{p.visite}}</td>
						<td>
							<SELECT name="nom" size="1">
								<OPTION ng-repeat="r in idInfirmier">{{r}}</OPTION>
							</SELECT>
						</td>
						<td>
							<button onclick ="t()" class="boutton"  id="ValideIntervenant">Valider</button>
						</td>
                    </tr>
                </tbody>
            </table>
            
<!--                 <h1>Affectations</h1>

            <table id="Affectations" action="/affectation">
                <thead>
					<td>Numéro</td>
                    <td>Id</td>
                    <td>Validation</td>
                </thead>
                <tbody>
					<tr ng-repeat="p in affectations">
						<td>{{p}}</td>
						<td>
							<SELECT name="nom" size="1">
								<OPTION>001</OPTION>
							</SELECT>
						</td>
						<td>
							<button onclick="t()" id="ValideIntervenant">Valider</button>
						</td>
					
                    </tr>
                </tbody>
            </table>-->
            <section id="map"></section>
        <section>
    </body>
</html>
